@media screen and (max-width: 1920px){
    body {
        background-image: url("../images/background_1920.jpg");
        background-repeat: no-repeat;
        background-size: 1920px 968px;

    }

    .container {

        margin-top: 50px;
        margin-left: 375px;
    }

    #game1 {
        margin-top: 90px;
        margin-left: 170px;
    }

    #towers {
        display: inline-block;
        float: left;
        margin-left: 220px;
    }

    .status {
        display: inline-block;
        float: right;
        margin-right: 150px;
        margin-top: 20px;
    }

    #su {

        position: absolute;
        top: 350px;
        left: 285px;
        width: 260px;
        z-index: 0;

    }

    #softuni {
        position: absolute;
        top: 350px;
        left: 1445px;
        width: 212px;
        z-index: 0;
    }

    .towerOne, .towerTwo, .towerTree{
        display: inline-block;
    }

    .towerOneProp {
        color: #ffffff;
        display: none;
        position: absolute;
        top: 770px;
        left: 600px;
    }

    .towerTwoProp{
        color: #ffffff;
        display: none;
        position: absolute;
        top: 770px;
        left: 650px;
    }

    .towerTreeProp{
        color: #ffffff;
        display: none;
        position: absolute;
        top: 770px;
        left: 700px;
    }

    .towerOne:hover .towerOneProp {
        display: block;
    }
    .towerTwo:hover .towerTwoProp{
        display: block;
    }
    .towerTree:hover .towerTreeProp{
        display: block;
    }



}



@media screen and (max-width: 1366px) {
    body {
        background-image: url("../images/background1360x768.jpg");
        background-repeat: no-repeat;
        background-size: 1366px 800px;

    }

    .container {

        margin-left: 85px;
    }

    #game1 {
        margin-top: 90px;
        margin-left: 170px;
    }

    #towers {
        display: inline-block;
        float: left;
        margin-left: 220px;
    }

    .status {
        display: inline-block;
        float: right;
        margin-right: 150px;
        margin-top: 20px;
    }

    #su {

        position: absolute;
        top: 282px;
        left: -5px;
        width: 260px;
        z-index: 0;

    }

    #softuni {
        position: absolute;
        top: 280px;
        left: 1154px;
        width: 212px;
        z-index: 0;
    }

    .towerOne, .towerTwo, .towerTree{
        display: inline-block;
    }

    .towerOneProp, .towerTwoProp, .towerTreeProp{
        color: #ffffff;
        display: none;
    }

    .towerOneProp {
        position: absolute;
        top: 650px;
        left: 285px;
    }

    .towerTwoProp{
        position: absolute;
        top: 650px;
        left: 335px;
    }

    .towerTreeProp{
        position: absolute;
        top: 650px;
        left: 385px;
    }

    .towerOne:hover .towerOneProp {
        display: block;
    }
    .towerTwo:hover .towerTwoProp{
        display: block;
    }
    .towerTree:hover .towerTreeProp{
        display: block;
    }
}

@media screen and (max-width: 1000px){
    body {
        background: #000000;


    }

    .container {
        background-image: url("../images/background_900.jpg");
        background-size: 100%;
        background-repeat: no-repeat;

        margin-top: 0px;
        margin-left: 0px;
    }

    #game1 {
        margin-top: 100px;
        margin-left: 50px;
    }

    #towers {
        display: inline-block;
        float: left;
        margin-left: 220px;
    }

    .status {
        display: inline-block;
        float: right;
        margin-right: 150px;
        margin-top: 20px;
    }

    #su {

        position: absolute;
        top: 1px;
        left: 1px;
        width: 260px;
        z-index: 0;
        display: none;

    }

    #softuni {
        position: absolute;
        top: 1px;
        left: 1px;
        width: 212px;
        z-index: 0;
        display: none;
    }

    .towerOne, .towerTwo, .towerTree{
        display: inline-block;
    }

    .towerOneProp, .towerTwoProp, .towerTreeProp{
        color: #ffffff;
        display: none;
    }

    .towerOneProp {
        position: absolute;
        top: 630px;
        left: 215px;
    }

    .towerTwoProp{
        position: absolute;
        top: 630px;
        left: 265px;
    }

    .towerTreeProp{
        position: absolute;
        top: 630px;
        left: 315px;
    }

    .towerOne:hover .towerOneProp {
        display: block;
    }
    .towerTwo:hover .towerTwoProp{
        display: block;
    }
    .towerTree:hover .towerTreeProp{
        display: block;
    }
}