@media screen and (max-width: 1920px){
    body {
        background-image: url("../images/background_1920.jpg");
        background-repeat: no-repeat;
        background-size: 1920px 968px;

    }

    .container {

        margin-top: 50px;
        margin-left: 375px;
    }

    #game1 {
        margin-top: 90px;
        margin-left: 170px;
    }

    #towers {
        display: inline-block;
        float: left;
        margin-left: 220px;
    }

    .status {
        display: inline-block;
        float: right;
        margin-right: 150px;
        margin-top: 20px;
    }

    #su {

        position: absolute;
        top: 285px;
        left: 408px;
        width: 260px;
        z-index: 0;

    }

    #softuni {
        position: absolute;
        top: 313px;
        left: 1418px;
        width: 212px;
        z-index: 0;
    }

    .towerOne, .towerTwo, .towerTree{
        display: inline-block;
    }

    .towerOneProp {
        color: #ffffff;
        display: none;
        position: absolute;
        top: 630px;
        left: 580px;
    }

    .towerTwoProp{
        color: #ffffff;
        display: none;
        position: absolute;
        top: 630px;
        left: 630px;
    }

    .towerTreeProp{
        color: #ffffff;
        display: none;
        position: absolute;
        top: 630px;
        left: 680px;
    }

    .towerOne:hover .towerOneProp {
        display: block;
    }
    .towerTwo:hover .towerTwoProp{
        display: block;
    }
    .towerTree:hover .towerTreeProp{
        display: block;
    }

    #errorMesssage{
        position: absolute;
        top: 630px;
        left: 600px;
    }



}



@media screen and (max-width: 1366px) {
    body {
        background: #000000;
        background-image: url("../images/background1360x768.jpg");
        background-repeat: no-repeat;
        background-size: 1366px 800px;

    }

    .container {

        margin-left: 85px;
    }

    #game1 {
        margin-top: 90px;
        margin-left: 170px;
    }

    #towers {
        display: inline-block;
        float: left;
        margin-left: 220px;
    }

    .status {
        display: inline-block;
        float: right;
        margin-right: 150px;
        margin-top: 20px;
    }

    #su {

        position: absolute;
        top: 282px;
        left: 121px;
        width: 260px;
        z-index: 0;

    }

    #softuni {
        position: absolute;
        top: 310px;
        left: 1126px;
        width: 212px;
        z-index: 0;
    }

    .towerOne, .towerTwo, .towerTree{
        display: inline-block;
    }

    .towerOneProp, .towerTwoProp, .towerTreeProp{
        color: #ffffff;
        display: none;
    }

    .towerOneProp {
        position: absolute;
        top: 630px;
        left: 285px;
    }

    .towerTwoProp{
        position: absolute;
        top: 630px;
        left: 335px;
    }

    .towerTreeProp{
        position: absolute;
        top: 630px;
        left: 385px;
    }

    .towerOne:hover .towerOneProp {
        display: block;
    }
    .towerTwo:hover .towerTwoProp{
        display: block;
    }
    .towerTree:hover .towerTreeProp{
        display: block;
    }

    #errorMesssage{
        position: absolute;
        top: 630px;
        left: 300px;
    }
}

@media screen and (max-width: 1000px){
    body {
        background: #000000;


    }

    .container {
        background-image: url("../images/background_900.jpg");
        background-size: 100%;
        background-repeat: no-repeat;

        margin-top: 0;
        margin-left: 0;
    }

    #game1 {
        margin-top: 100px;
        margin-left: 50px;
    }

    #towers {
        display: inline-block;
        float: left;
        margin-left: 220px;
    }

    .status {
        display: inline-block;
        float: right;
        margin-right: 150px;
        margin-top: 20px;
    }

    #su {

        position: absolute;
        top: 366px;
        left: 35px;

        z-index: 0;
        width: 120px;


    }

    #softuni {
        position: absolute;
        top: 366px;
        left: 858px;

        z-index: 0;
        width: 120px;

    }

    .towerOne, .towerTwo, .towerTree{
        display: inline-block;
    }

    .towerOneProp, .towerTwoProp, .towerTreeProp{
        color: #ffffff;
        display: none;
    }

    .towerOneProp {
        position: absolute;
        top: 610px;
        left: 215px;
    }

    .towerTwoProp{
        position: absolute;
        top: 610px;
        left: 265px;
    }

    .towerTreeProp{
        position: absolute;
        top: 610px;
        left: 315px;
    }

    .towerOne:hover .towerOneProp {
        display: block;
    }
    .towerTwo:hover .towerTwoProp{
        display: block;
    }
    .towerTree:hover .towerTreeProp{
        display: block;
    }

    #errorMesssage{
        position: absolute;
        top: 600px;
        left: 200px;
    }
}



footer {
    width: 100%;
    height: 50px;
    position: relative;

    left: 0;
    bottom: 0;
    background: transparent;
    color: #ffffff;

}
ul {
 width: 100%;
}
li {
    display: inline;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.4em;
    color: #ffffff;
}
li img {
    border-radius: 5px;
    width: 50px;
    height: 50px;
}
.gold-background {
    background-image: url(../images/gold.png);
    color: white;
}
.life-background {
    background-image: url(../images/Life.png);
    color: white;
}
.fb {
    padding-bottom: 5px;
    border: 1px solid black;
    background-color: #4862A3;
}
.fb:hover {
    border: 1px solid orange;
}