body {
    background-image: url("../images/background1360x768.jpg");
    background-repeat: no-repeat;
    background-size: 1366px 800px;

}
.container {

    margin-left: 85px;
}

#game1 {
    margin-top: 90px;
    margin-left: 170px;
}

#towers {
    display: inline-block;
    float: left;
    margin-left: 220px;
}
.status{
    display: inline-block;
    float: right;
    margin-right: 150px;
    margin-top: 20px;
}

#su{

    position: absolute;
    top: 282px;
    left: -5px;
    width: 260px;
    z-index: 0;

}

#softuni{
    position: absolute;
    top: 280px;
    left: 1154px;
    width: 212px;
    z-index: 0;
}